.questionsCard {
    padding: 10px 15px 10px 15px;
    margin: 15px 10px 10px 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}

.questionsCard .question {
    font-weight: bold;
}

.questionsCard .showLess {
    padding: 10px;
}

.questionsCard .showLess a {
    color: #3b6caa;
    font-weight: bold;
    cursor: pointer;
}

.stats ul {
    list-style: none;
    padding: 0px;
}

.stats ul>li {
    padding: 5px;
    margin: 10px 0px;
    line-height: 28px;
    border:1px solid #3b6caa;
    padding: 0px 10px;
    background-color: #fff;
    color:#3b6caa;
    border-radius:20px;
    box-shadow: inset 0 0 8px #3b6caa;
    padding-right: 0px;
}

.stats ul>li .answerKey {
    display: inline-flex;
    line-height: 40px;

}

.stats ul>li .answerValue {
    display: inline;
    float: right;
    padding-left: 15px;
    width: 40px;
    border: 1px solid #fff;
    border-radius:20px;
    line-height: 38px;
    background-color: #3b6caa;
    box-shadow: 0px 0px 8px 2px #3b6caa;
    color:#fff;
}

.viewTableBtn{
    background-color: #3b6caa;
    color: white;
    margin-left: 10px;
}

canvas {
    margin: 0 auto;
}

.resultsWrap {
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;
}

@media screen and (min-width:768px) {
    .buttonWrap {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .resultsWrap {
        width: 90%;
        margin: 0 auto;
    }
}

.showChartBtn {
    background-color: #3b6caa;
    color: white;
}