<div *ngFor="let question of questions; let i = index;" class="questionsCard">
  <div class="question">
    {{question}}
  </div>
  <div class="stats">
    <ul>
      <li *ngFor="let choice of answersData[question] | keys">
        {{choice.key + ':' + choice.value}}
      </li>
    </ul>
  </div>
  
  <div *ngIf="chart && answersData[question].statBased">
    <canvas id="{{'canvas' + i}}">{{ chart }}</canvas>
  </div>
  <button class="btn btn-primary" (click)="makeCharts(answersData[question], i)" >Show Chart</button>
</div>
