<div class="resultsWrap">
    <button type="button" class="btn viewTableBtn" (click)="showTable()">View Results Table</button>
    <div class="row">
        <div *ngFor="let question of questions; let i = index;" class="col-sm-12">
            <div class="questionsCard row ">
                <div class="col-md-6 col-12">
                    <div class="question">
                        {{question}}
                    </div>
                    <div class="stats">
                        <ul>
                            <li *ngFor="let choice of answersData[question] | keys">
                                <div class="answerKey">{{choice.key }}</div>

                                <div class="answerValue"><p>{{ choice.value}}</p></div>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-12" [hidden]="!answersData[question].statBased">
                    <div [hidden]="!canvasVisibility['canvas' + i]" class="canvasWrap">
                        <canvas #parent id="{{'canvas' + i}}" width="300" height="300"></canvas>
                    </div>
                    <div class="buttonWrap">
                        <div class="text-center displayBtn" [hidden]="this.submitted['canvas' + i]">
                            <button class="btn showChartBtn" (click)="showChart(i)">
                        <i class="fas fa-chart-pie"></i>Display Charts
                        </button>
                        </div>
                        <div class="text-center showLess" [hidden]="!this.submitted['canvas' + i]">
                            <a (click)="showLess(i)">Show Less <i class="fa fa-angle-double-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>