.appTitle {
    text-align: center;
    background-image: url("../assets/background-1.jpg");
    background-size: cover;
    color: #fdfdfd;
    height: 30vh;
}

.appTitle div {
    height: 100%;
    background: rgba(23, 162, 184, 0.7);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appTitle h2 {
    font-size: 24px;
}

