.usersList  {
    width: 100%;
}

.table thead th {
	vertical-align: top;
}

#resultsTable {
	width: 100%;
	white-space: nowrap;
}

.table-responsive {
	overflow-x: scroll;

}
.table-responsive::-webkit-scrollbar { 
    display: none;  
}