.onRegister {
    position: relative;
    top: -65px;
    margin: 0 auto;
    padding: 15px;
    background: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    height: 70vh;
    width: calc(100% - 30px);
    max-width: 400px;
}

.onRegister .user {
    padding: 0 16px;
    padding-top: 10px;
}

.onRegister .user .userName {
    font-size: 20px;
    font-family: 'Roboto';
    line-height: 20px;
    font-weight: 700;
}

.onRegister .user .company {
    font-size: 14px;
}

.onRegister .surveyContainer {
    height: calc(100% - 51px);
}

.onRegister .surveyContainer #survey {
    height: 100%;
}

.progress {
    width: 100%;
    max-width: 800px;
    margin: 30px auto 0;
    display: table;
    position: relative;
    text-align: center;
    left: 4%;
}

.progress ul {
    display: table-row;
}

.progress ul li {
    background-color: #d6d6d6;
    /* Default Bar Color */
    display: table-cell;
    position: relative;
    line-height: 20px;
    z-index: -3;
    color: #FFF;
    text-align: left;
    transition: background-color 0.75s, color 0.5s;
}

.progress ul li::before {
    content: '';
    width: 40px;
    height: 40px;
    color: #FFF;
    line-height: 30px;
    text-align: center;
    left: -15px;
    background-color: #d6d6d6;
    /* Default Circle Color */
    border: solid 5px #d6d6d6;
    /* Default Circle Color */
    index: -9;
    position: absolute;
    display: block;
    top: -10px;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
    transition: background-color 0.75s, color 0.5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


/* CURRENT STEP */

.progress ul li.current {
    display: inline-block;
    width: 100%;
    z-index: -3;
    color: #0e90d2;
    position: relative;
    transition: background-color 0.75s, color 0.5s;
}

.progress ul li.current::before {
    border: solid 5px #0e90d2;
    /* Current Step Circle Color */
    background-color: #FFF;
    transition: background-color 0.75s, color 0.5s;
    -webkit-animation: pulse 3s ease-out;
    -moz-animation: pulse 3s ease-out;
    animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* COMPLETED STEPS */

.progress ul li.complete {
    background-color: #0e90d2;
    /* Completed Step Bar Color */
    transition: background-color 0.75s, color 0.5s;
}

.progress ul li.complete::before {
    background-color: #0e90d2;
    /* Completed Step Circle Color */
    border: 5px solid transparent;
    transition: background-color 0.75s, color 0.5s;
}


/* REMOVE FIRST STEP COLOR BAR LINE */

.progress ul li:last-of-type {
    background-color: transparent;
}

.progress ul li.current:last-of-type,
.progress ul li.complete:last-of-type {
    background-color: transparent;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.1, 1.1);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}