.onRegister {
    position: relative;
    top: -65px;
    margin: 0 auto;
    padding: 15px;
    background: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    height: 70vh;
    width: calc(100% - 30px);
    max-width: 400px;
}

.onRegister .user {
    padding: 0 16px;
    padding-top: 10px;
}

.onRegister .user .userName {
    font-size: 20px;
    font-family: 'Roboto';
    line-height: 20px;
    font-weight: 700;
}

.onRegister .user .company {
    font-size: 14px;
}

.onRegister .surveyContainer {
    height: calc(100% - 51px);
}

.onRegister .surveyContainer #survey {
    height: 100%;
}
