<div class="formContainer">
    <div class="formSection">
        <div class="formHeading">Survey Signup</div>
        <div class="formSubHeading text-muted">Welcome to our Survey Application
        </div>
        <form (ngSubmit)="onSubmit()" #initialForm="ngForm" class="col-12 formWrap">
            <div class="form-group">
                <input class="form-control field" type="text" name="fname" [(ngModel)]="user.fname" placeholder="First Name" required #fname="ngModel">
                <label for="fname">First Name</label>
                <div class="alertMessage" [hidden]="fname.valid || fname.pristine">
                    First Name is a required field
                </div>
            </div>

            <div class="form-group">
                <input class="form-control" type="text" name="lname" [(ngModel)]="user.lname" placeholder="Last Name" required #lname="ngModel">
                <label for="lname">Last Name</label>
                <div class="alertMessage" [hidden]="lname.valid || lname.pristine">
                    Last Name is a required field
                </div>
            </div>

            <div class="form-group">
                <input class="form-control" type="text" name="company" [(ngModel)]="user.company" placeholder="Company" required #company="ngModel">
                <label for="company">Company</label>
                <div class="alertMessage" [hidden]="company.valid || company.pristine">
                    Company is a required field
                </div>
            </div>

            <div class="form-group">
                <select class="form-control" name="category" [(ngModel)]="user.category" required #category="ngModel">
                    <option value = "" selected="selected">Role</option>
                    <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
                </select>
                <div class="alertMessage" [hidden]="category.valid || category.pristine">
                    Category is a required field
                </div>
            </div>

            <div class="form-group">
                <input class="form-control" type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required #email="ngModel" pattern="^\w+([\.-]?\w+)*@(?!gmail\.com)(?!outlook\.com)(?!test\.com)(?!aol\.com)(?!rediff\.com)(?!msn\.com)(?!live\.com)(?!yahoo\.com)(?!hotmail\.com)([\w-]+.)+([\.-]?\w+)*(\.\w{2,3})+$">
                <label for="email">Email</label>
                <div [hidden]="email.pristine || email. valid">
                    <div [hidden]="!email.hasError('required')" class="alertMessage">
                        Email is a required field
                    </div>
                    <div [hidden]="!email.hasError('pattern')" class="alertMessage">
                        Please enter your business email
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input class="form-control" type="text" name="phone" [(ngModel)]="user.phone" placeholder="Phone">
                <label for="phone">Phone</label>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- <button type="button" class="btn btn-primary float-left" (click)="newUser(); initialForm.reset()">Clear</button> -->
                    <button type="submit" class="btn btn-success btn-block " (click)="saveCustomer()" [disabled]="!initialForm.form.valid">Start Survey</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <div [hidden]="!this.submitted" class="confirmSection">
        <div class="sectionTitle col-12">
            <h5>You entered the following details:</h5>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <div class="col-12 label text-muted">First Name</div>
                <div class="col-12">{{user.fname}}</div>
            </div>
            <div class="form-group col-6">
                <div class="col-12 label text-muted">Last Name</div>
                <div class="col-12">{{user.lname}}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-12 label text-muted">Company</div>
            <div class="col-12">{{user.company}}</div>
        </div>
        <div class="form-group">
            <div class="col-12 label text-muted">Category</div>
            <div class="col-12">{{user.category}}</div>
        </div>
        <div class="form-group">
            <div class="col-12 label text-muted">Email</div>
            <div class="col-12">{{user.email}}</div>
        </div>
        <div class="form-group">
            <div class="col-12 label text-muted">Phone</div>
            <div class="col-12">{{user.phone}}</div>
        </div>
        <div class="row buttonGroup">
            <div class="col-12">
                <button type="button" class="btn btn-primary float-left" (click)="submitted=false">Edit</button>
                <button type="button" class="btn btn-success float-right" (click)="saveCustomer()">Confirm</button>
            </div>
        </div>
    </div> -->