.formSection {
    position: relative;
    top: -30px;
    background: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
}

.formSection .form-control {
    /* border: none; */
    /* border-bottom: 2px solid #0077bf; */
    display: block;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
}

.formSection .form-control:focus {
    outline: none;
    box-shadow: none;
}

label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: 0.2s ease all;
}

.formSection .form-control:focus + label {
    top: -20px;
    font-size: 14px;
    color: #009688;
}

.sectionTitle {
    padding-top: 10px;
    padding-bottom: 10px;
}

.buttonGroup {
    padding-top: 10px;
    text-align: center;
}

.confirmSection .row {
    margin: 0;
}

.confirmSection .form-group {
    margin-bottom: 5px;
}

.ng-valid[required], .ng-valid.required {
    border-bottom: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-bottom: 2px solid #A94442;
}