/* global styles */

body {
    font-family: 'Lato';
    padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Roboto';
}

input[type=button] {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.card-header {
    background-color: white;
    border: none;
}

.card-footer {
    background-color: white;
    border: none;
}

.ngx-pagination {
    padding-left: 0px;
    padding-top: 15px;
}